{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Anomaly Sound Detection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{%static 'img/apple-icon.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico'%}">

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/templatemo.css'%}">
    <link rel="stylesheet" href="{%static 'css/custom.css'%}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{%static 'css/fontawesome.min.css'%}">
<!--

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="{%url 'AdminHome'%}">
                Anomaly Sound Detection
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'UserHome'%}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'training'%}">training</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'predict_audio'%}">anomaly detection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'logout'%}">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Start Featured Product -->
    {%block contents%}
    {%endblock%}
    <!-- End Featured Product -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2022 Alex Corporations
                            | Designed by <a rel="sponsored" href="#" target="_blank">Alex group</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{%static 'js/jquery-1.11.0.min.js'%}"></script>
    <script src="{%static 'js/jquery-migrate-1.2.1.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'js/templatemo.js'%}"></script>
    <script src="{%static 'js/custom.js'%}"></script>
    <!-- End Script -->
</body>

</html>